<!-- app/backend/templates/backend.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Bem-vindo ao Backend, {{ current_user.username }}!</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <div class="alert alert-success {{ category }}" role="alert">
                {{ message }}
              </div>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <a href="{{ url_for('backend.logout') }}">Logout</a>
{% endblock %}
